.main-navigation{
    .navigation{
        width:50%;
        ul{
            display:flex;
            justify-content: space-between;
            list-style-type: none;
            padding:0px;
            @media all and (max-width:680px){
                display: block;
                text-align: right;
                                        }}
        li >*{
            text-decoration: none;
            font-size:18px;
            font-weight: 700;
            color:#000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            margin:0 10px;}}
    padding:50px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
@media all and (max-width:420px){
                display: flex;
    justify-content: center;
    .navigation{
        ul{
            text-align: center;
            margin-top: 50px;
            line-height: 30px;
        }
    }
    
                                        }}





.mid-section{
    .paragraph{
        margin: 0px 100px 50px 100px;
        min-width:300px;
        max-width:750px;
        h2{
            font-weight: 700;
            font-size: 65px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;} 
        p{
            font-size:24px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
        font-weight: 700;} }
    .forma{
        margin-right:150px;
        margin-left:50px;
        form{
            background-color:#eee;
            padding:15px;
            border-radius: 15px;
            display:flex;
            flex-direction: column;
            >*{
                border-style: none;
                margin:15px;
                height:60px;
                width:345px;
            }
            input{
                padding-left:15px;
                font-size:18px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
            button{
                background-color:deepskyblue;
                border-radius: 5px;
                color:#FFF;
                cursor:pointer;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 18px;
                
            }
        }
        }
    display:flex;
    justify-content:space-between;
flex-wrap: nowrap;
@media all and (max-width:950px){
                flex-wrap: wrap;
                justify-content: center;
    .paragraph{
        text-align: center;
    }
    .forma{
        margin:0;
        form>*{
            width:250px;
        }
    }
                                        }}